@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #app {
  @apply h-full w-full m-0 p-0;
}
body, html, #app {
  overflow: visible;
}
@font-face {
  font-family: "DejaVu Sans";
  src: url("/fonts/DejaVuSans.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


body {
  font-family: 'FiraGO', sans-serif;
  background-color: #f9fafb;
}
