@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #app {
  @apply h-full w-full m-0 p-0;
}
body, html, #app {
  overflow: visible;
}
@font-face {
  font-family: 'FiraGO';
  src: url('/fonts/FiraGO-Book.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'FiraGO';
  src: url('/fonts/FiraGO-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'FiraGO';
  src: url('/fonts/FiraGO-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'FiraGO', sans-serif;
  background-color: #f9fafb;
}
