@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "DejaVu Sans", "DejaVu Serif", "Segoe UI", system-ui, -apple-system, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #ffffff;
}

#app {
  min-height: 100vh;
}
